<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Safi Look</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/grayscale.min.css" rel="stylesheet">
  <link href="/index.css" rel="stylesheet">
  <link rel="stylesheet" href="mainstyle.css">
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Safi Look</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead" id="header1">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Safi Look</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Best place in the world .</h2>
        <a href="#signup" class="btn btn-primary js-scroll-trigger">Sing Up</a>
      </div>
    </div>
  </header>
 
  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">
      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="/pictures/safi3.jpg" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Safi</h4>
            <p class="text-black-50 mb-0">Safi est une ville portuaire située sur la côte atlantique marocaine. Ksar El Bahr, une forteresse du XVIe siècle construite par les colons portugais, se trouve sur le front de mer. Dans la vieille ville, des stands de nourriture et d'artisanat bordent la rue du Souq. À proximité, le musée national de la Céramique est aménagé dans un autre fort bâti par les Portugais. Les pièces maîtresses de la collection sont les poteries décorées de la région, créées dans les ateliers de la Colline des Potiers, un quartier à flanc de coteau.</p>
          </div>
        </div>
      </div>

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="/pictures/image4.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Histoire</h4>
                <p class="mb-0 text-white-50">Safi, sous le nom Safim (Zaffim ou Asfi), est l'une des plus anciennes villes du Maroc. Sa date de fondation est inconnue. Selon l'historien Mohammed al-Kanuni, Safi doit être identifié avec le Thymiaterion ancien ou Carcunticus et a été fondée par le Carthaginois Hannon, au cours de son périple raconté par Pline l'Ancien.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="/pictures/image3.jpg" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">L'ouverture sur l'Europe</h4>
                <p class="mb-0 text-white-50">Au xve siècle, Safi s'ouvre au commerce européen. Les Portugais apprécient même si bien sa rade naturelle qu'ils s'en emparent en 1488, par une opération combinée (par terre et par mer) montée à partir de leur base de Mogador (Essaouira). Autour de la ville, ils élèvent une enceinte et construisent une forteresse au bord de la mer. Mais cette occupation dure peu, car dès 1541, les Portugais qui viennent de perdre la ville d'Agadir évacuent volontairement Safi. Cela n'interrompt point les échanges avec l'Europe qui au contraire s'intensifient. Les Français y ont leur part. .</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
  <div class="flip-card">
    <div class="top-container">
        <div id="sign-up" onclick="sign()">sign up</div>
        <div id="log-in" onclick="log()">log in</div>
    </div>
   <div id="flip-card-inner">
        <form action="/login" method="POST" >
            <div id="inputs-container">
            <input type="email" placeholder="enter your email" id="email-log" name="email" ><br>
            <div id="span-div">
                <span id="email-error-log">*required</span>
            </div>
            <input type="password" placeholder="enter your password" name="password" id="password-log"> <br>
            <div id="span-div">
                <span id="error-password-log">Your password must have numbers , letters and symbols</span>
            </div><br><br>
            <button  id="btn-log-in" >log in</button>
            </div>
        </form>
     <div id="flip-card-back">
      <div style="background-color: red; color: white;"><%if(locals.error){%>
        <p ><%=error %></p>
        <%}%>
      </div>
    <form action="/inscription" method="POST">
        <div id="inputs-container1">
            <input type="text" placeholder="user name" id="user-sign" name="name" required>
            <div id="span-div" >
                <span id="user-error-sign">*name cabitilaized</span>
            </div>
            <input type="email" placeholder="enter your email" id="email-sign"  name="email" required> <br>
            <div id="span-div">
                <span id="error-email-sign">*required</span>
            </div>
            <input type="password"  id="password-sign" placeholder="enter your password"  name="password" required>
            <div id="span-div">
                <span id="error-password-sign">Your password must have numbers , letters and symbols</span>  
            </div><br><br>
            <button  id="btn-sign-up" >sign up</button> 
        </div>
    </form>
    </div>
    </div>
</div>
</section>
  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50"> Sidi bouzid (Ras Lafaa) </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">Hotel@Safi.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">(+212)309-028_832</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Your Website 2020
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/grayscale.min.js"></script>
  <script src="index.js"></script>
</body>

</html>
